@media (max-width: 375px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    main {
        width: 375px;
        height: 375px;
    }
    .nft-card {
        width: 318px;
        height: auto;
    }
    .image {
        width: 274px;
        height: 274px;
        border-radius: 8px;
    }
    .card-desc {
        font-size: 16px;
        padding-top: 20px;
    }
}